
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: dev

resources:
  - ../cqdg-orchestrations/arranger

patchesStrategicMerge:
  - deployments.yml

configMapGenerator:
  - name: arranger-keycloak-configs
    options:
      disableNameSuffixHash: false
    literals:
      - LOGS_REQUEST_INTERCEPTOR="false"
      - AUTH_CLIENT_ID=cqdg-client
      - AUTH_SERVER_URL=https://auth.dev.cqdg.ferlab.bio/auth
      - AUTH_REALM=CQDG
      - SERVICE_ACCOUNT_CLIENT_ID=cqdg-system
      - SECURE="true"